@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab',sans-serif;
    list-style-type: none;
}

/* Page Container */
#page-container {
    position: relative;
    height: 100vh;
}
/* End of Page Container */

/* Menu Bar at the top*/
#menu {
    width: 100%;
    height: 100px;
    z-index: 12;
    position: fixed;
    letter-spacing: 1px;
    animation: slideInfromLeft 2s ease;
    text-transform: uppercase;
}

/* Animation for Menu bar inspired from (W3schools, 2019)*/
@keyframes slideInfromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
/* End of Animation for Menu bar */

/* Menu bar attribute changing its color from transparent to black on scroll*/
/* Inspired from (Olatoye, 2021) */
#menu.active {
    transition: all 0.5s ease-out;
    background-color: #3A3B3C;
}

/* Logo */
#logo{
    float: left;
    margin: 25px 0px 0px 50px;
    padding: 14px 16px;
}

#logo a{
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

#logo a:hover{
    color: #fa4820;
}
#logo:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
/* End of Logo */

/* Navigation Bar */
.navbar {
    margin: 25px 50px 0px 0px;
    float: right;
    text-align: center;
    overflow: hidden; 
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.navlink1, .navlink2, .navlink3{
    text-align: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
	font-weight: bold;
}

.navbar a:hover {
    color: #fa4820;
    transform: scale(1.2);
    transition: 0.3s;
}

/* Hightlight current page's link */
#menu .current-item{
    color: #fa4820;
}

/* End of Navigation Bar */

/* Hamburger Menu Icon*/
/* Inspired from (codeSTACKr, 2019) */
.hamburger-wrap{
    visibility: hidden;
}

/* Animation for Hamburger Icon */
.top-line-animate{
    transform: translate(0px,10px) rotate(45deg);
}
.middle-line-animate{
    opacity: 0;
}
.bottom-line-animate{
    transform: translate(0px,-10px) rotate(-45deg);
}
.ease-transition{
    transition: all 0.2s ease;
}
/* End of Animation for Hamburger Icon */

/* End of Hamburger Menu Icon */

/* End of Menu Bar at the top*/

/* Banner Image */
#banner{
    position: fixed;
    width: 100%;
    background-image: url("images/Banner.png");
    background-size: cover;
    filter: brightness(80%);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}

/* Banner on contact and profile page */
#banner1{
    position: fixed;
    background-image: url(images/banner2.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#banner2{
    position: fixed;
    background-image: url(images/banner2.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
/* End of Banner Image */

/* My Introduction on Homepage */
.my-intro{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border-radius: 3%;
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    max-width: 60vw;
    position: absolute;
    top: 40%;
    left: 10%;
    animation: movingbottomtotop1 3s ease;
}

/* Animation for Intro and Social Links on Index Page */
/* inspired from (W3schools, 2019) */
@keyframes movingbottomtotop1 {
  0% {
    opacity: 0;
    top: 60%;
  }
  100% {
    top: 40%;
  }
}

.aboutmebtn a{
    border-radius: 20px;
    text-align: center;
    background-color: #fa4820;
    position: relative;
    top: 20px;
    padding: 10px 20px;
    text-decoration: none;
    color: white; 
}

.aboutmebtn a:hover{
    opacity: 0.8;
    cursor: pointer;
	text-decoration: underline;
}

/* End of My Introduction on Homepage */

/* Social Media icons on Homepage*/
.sociallinks{
    float: right;
    position: absolute;
    right: 20px;
    top: 40%;
    animation: movingbottomtotop1 3s ease;

}
/* Increase the size of icons on hover */
#linkedin:hover, #facebook:hover, #twitter:hover{
    transform: scale(1.2);
    transition: 0.3s;
}

#facebook, #twitter, #linkedin{
    height: 40px;
    width: 40px;
    background-size: 100%;
    margin: 10px;
}
/* End of Social Media icons on Homepage*/

/* About Me page */
.profile{
    color: white;
    width: 100%;
    position: relative;
    top: 15vh;
    border-bottom: solid 1px white;
    animation: movingBottomToTop 2s ease-out;
}

/* Animation for profile intro on Aboutme page */
/* inspired from (W3schools, 2019)*/
@keyframes movingBottomToTop {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}

/* My Image */
#myimg img{
    filter: brightness(70%);
    object-fit: cover;
    border-radius: 2%;
    position: relative;
    left: 15%;
    width: 70%;
    height: 50vh;
}

/* End of My Image*/

.profile h1, .profile blockquote{
    width: 70%;
    position: relative;
    left: 15%;
    margin: 50px 0px 20px 0px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

blockquote{
    font-size: 20px;
}

.profile h1, .education h1, .education h2{
/*    color: #fa4820;*/
}

.profile p{
    width: 70%;
    position: relative;
    left: 15%;
    margin: 20px 0px;
}

.education{
    color: white;
    width: 100%;
    position: relative;
    top: 15vh;
}

.education div{
    float: left;
    width: 50%;
}

.education h1, .education h2{
    text-align: center;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    width: 80%;
    position: relative;
    left: 10%;
    margin: 50px 0px 30px 0px;
}

.education img{
    position: relative;
    left: 10%;
    width: 80%;
    height: 300px;
    border-radius: 2%;
}

.education p{
    width: 80%;
    position: relative;
    left: 10%;
    margin: 0px 0px 5px 0px;
}
/* End of About Me page */


/* Services Page */

/* Description on services page */
#myservices{
    background-color: rgba(0,0,0,0.2);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border-radius: 3%;
    font-size: 13px;
    color: #fff;
    width: 50vw;
    height: auto;
    position: absolute;
    top: 30%;
    left: 5%;
    animation: slideInfromLeft 2s ease;
}

/*Bootstrap rows height*/
.row {
    min-height: 100vh;
}

/* Bootstrap inspired from (Zawadzki, 2016) modified to fit this website's color and animations */
.card {
    background-color: rgba(0,0,0,0.4);
    color: white;
    text-align: center;
    border: 0;
    border-radius: 0px;
    -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
    box-shadow: 0 3px 0px 0 rgba(0, 0, 0, .08);
    transition: all .3s ease-in-out;
    padding: 3rem 0;
    position: relative;
    top: 100vh;
    animation: movingBottomToTop1 2s ease-in-out;
}
  
  .card:hover {
    background-color: rgba(0,0,0,0.7);
}
    
 .card-header {
    padding-left: 2rem;
  }

.list-group-item {
    padding: .30rem;
  }

.display-2 {
    font-size: 2rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.btn {
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
    background-color: #fa4820;
    position: relative;
    top: 20px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.btn-gradient { 
    background-color: #fa4820;
    transition: background .3s ease-in-out;
}

.btn:hover {
    opacity: 0.8;
    text-decoration: underline;
  }
/* End of Services Page */

/* My projects on Portfolio page */
#myprojects-descr{
    background-color: rgba(0,0,0,0.2);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border-radius: 3%;
    font-size: 12px;
    color: #fff;
    width: 50vw;
    height: auto;
    position: absolute;
    top: 30%;
    left: 5%;
    animation: slideInfromLeft 2s ease;
}
/* Animation for Projects description on protfolio page */
/* inspired from (W3schools, 2019)*/
@keyframes slideInfromLeft {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0);
  }
}


/* Projects Slides */
.container{
    position: relative;
    top: 100vh;
    left: 5vw;
    display: flex;
    width: 90vw;
    font-family: 'Roboto' ,sans-serif;
    margin: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 88vh;
}

/*Each slide of projects*/
.panel{
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3{
    background-color: rgba(0,0,0,0.5);
    font-size: 24px;
    position: absolute;
    top: 30vh;
    left: 1vw;
    margin: 0;
    opacity: 0;
}

.panel a{
    position: absolute;
    top: 35vh;
    left: 1vw;
    border-radius: 10px;
    background-color: #fa4820;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    opacity: 0;
}

.panel a:hover{
    text-decoration: underline;
}

/* Preview project when clicked */
.panel.active{
    flex: 5;
}

.panel.active h3, .panel.active a{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;

}
/* End of My projects on Portfolio page */


/* Contact Page */
.contact{
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
    width: 80%;
    text-align: center;
    animation: slideInfromLeft 1.5s ease-in-out;
}

.contact h1{
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.contact p{
    font-size: 20px;
    margin: 20px;
}

.contact p > a{
    color: rgb(50,150,255);
}

.contact p>a:hover{
    color: red;
}

.sociallinks1 a{
    text-decoration: none;
}
/* End of Contact Page */

/* Scroll down Icon on Portfolio and Profile Page */
.scroll-down{
    position: absolute;
    left: 50%;
    bottom: 10vh;
    width: 20px;
    height: 20px;
    z-index: 10;
    border-bottom: 4px solid #fa4820;
    border-right: 4px solid #fa4820;
    transform: translate(-50%, 0%) rotate(45deg);
    animation: fade_move_down 1.5s ease-in-out infinite;
}

/* Animation for scroll down icon */
/* inspired from (W3schools, 2019)*/
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}

/*scroll-down icon attribute.. Hiding scroll icon once windows is scrolled*/
.scroll-down.hide{
    transition: 0.5s;
    visibility: hidden;
}

/* End of Scroll down Icon  */


 /* Media Query for Mobile Accessible website or if screen is below 700px */
 /* Self Written */ 
@media only screen and (max-width: 700px){
    
    /*  Adjust logo position on smaller screen  */
    #logo{
        margin: 25px 0px 0px 20px;
    }
    
    /*Hamburger icon visible when screen is below 700px width*/
    .hamburger-wrap{
        position: absolute;
        right: 5vw;
        top: 17%;
        visibility: visible;
        width: 70px;
        height: 70px;
        flex-direction: column;
        cursor: pointer;
    }
    
    .hamburger-wrap:hover{
        border-color: red;
        transform: scale(1.2);
        transition: 0.3s;
    }

    .ham-line{
        border-radius: 30%;
        width: 50%;
        border: 2px solid #fff;
        margin: 3px;
    }

    .flex-center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    /*Hide nav bar links once screen size is small*/
    .navbar{
        visibility: hidden;
    }
    
    .navbar a{
        color: white;
        position: absolute;
        display: grid;
        top: 30%;
    }
    
    /*  Popup window when hamburger icon is clicked  */
    .navbar.active{
        position: absolute;
        top: 12vh;
        margin: 0px 0px 0px 0px;
        width: 100%;
        visibility: visible;
        min-height: 100vh;
        background-color: #3A3B3C;
        animation: slideInfromRight 0.5s ease;
    }
    
    /* Animation for Navigation popup */
    @keyframes slideInfromRight {
      0% {
        transform: translateX(200%);
      }
      100% {
        transform: translateX(0%);
      }
    }
    
     /* Space between links on navigation popup*/
    .navlink2{
        margin: 60px;
    }
    .navlink3{
        margin: 120px;
    }
    
    /*Banner for mobile users*/
    #banner{
    background-image: url("images/mblbanner.png");
    }
    
    /*Remove float on Aboutme page from items*/
    .education div{
        float: none;
        width: 100%;
    }
    
    /*Change project from columns to rows on portfolio page*/
    .container{
        display: inherit;
        height: auto;
    }
    
    .panel{
        height: 10vh;
        transition: 0.7s ease-in;
    }
    
    .panel h3{
        top: 20vh;
    }
    
    .panel a{
        top: 25vh;
    }
    
    .panel.active1{
        height: 50vh;
        
    }


}
/* End of Media Query for Mobile Accessible website*/

/* Fixing profile on aboutme page when in landscape mode*/
/* Self written*/
@media (orientation: landscape){
    .profile{
        top: 20vh;
    }
}
/* End of Fixing profile on aboutme page when in landscape mode*/